@media screen and (max-width: 600px){
body{
	background-color:hsl(273, 75%, 66%);
	margin: 0px;
	padding: 0px;
}
.container{
	background-color: white;
	width: 70%;
	height: 100%;
	border-radius: 10px;
	text-align: center;
	margin-top: 100px;
	margin-left: 15%;
	padding-top: 90px;
}
.background-image{
	position: absolute;
	margin-top: 0px;
	width: 50%;
	margin-left: 25%;
}
.image-top{
	float: center;
	position: absolute;
	margin-top: -90px;
	width: 50%;
	margin-left: 25%;
}
.title{
	font-family: 'specimen' ,Kumbh Sans;
	font-weight: 700;
}
.questions{
	font-family: 'specimen' ,Kumbh Sans;
	font-weight: 400;
	font-size: 12px;
	text-align: left;
	margin: 20px;
	border-bottom: 0.5px solid hsl(240, 5%, 91%);
	padding-bottom: 20px;
	margin-right: 0px;
}
.responses{
	font-family: 'specimen' ,Kumbh Sans;
	font-weight: 400;
	font-size: 12px;
	margin: 10px;
	display: none;
}
.questions-btn{
	background: transparent;
	float: right;
	border: none;
}
i{
	color: orange;
	margin-right: 8px;
}
.desktop-image{
	display: none;
}
}
@media screen and (min-width: 600px){
body{
	background-color:hsl(273, 75%, 66%);
	margin: 0px;
	padding: 0px;
}
.background-image{
	display: none;
}
.image-top{
	width: 25%;
	position: absolute;
	margin-top: 2%;
	margin-left: 25%;
}
.desktop-image{
	width: 25%;
	position: absolute;
	margin-top: 4%;
	margin-left: 25%;
}
.container-section{
	margin-left: 5%;
}
.container{
	background-color: white;
	width: 60%;
	height: 80%;
	border-radius: 10px;
	text-align: left;
	margin-top: 100px;
	margin-left: 30%;
	padding-top: 40px;
	padding-bottom: 30px;
}
.title{
	font-family: 'specimen' ,Kumbh Sans;
	font-weight: 700;
	margin-left: 250px;
	margin-top: 0px;
	margin-bottom: 30px;
}
.questions{
	font-family: 'specimen' ,Kumbh Sans;
	font-weight: 400;
	font-size: 12px;
	margin: 20px;
	border-bottom: 0.5px solid hsl(240, 5%, 91%);
	padding-bottom: 10px;
	margin-right: 30px;
	margin-left: 250px;
	text-align: left;

}
.responses{
	font-family: 'specimen' ,Kumbh Sans;
	font-weight: 400;
	font-size: 12px;
	margin-left: 250px;
	margin-right: 50px;
	display: none;
}
.questions-btn{
	background: transparent;
	float: right;
	border: none;
}
i{
	color: orange;
	margin-right: 8px;
}
}